In [107]:
import numpy as np
import pandas as pd
import pyreadr
import os

In [ ]:
ZADANIE 1

In [106]:
os.chdir(r'C:\Users\olaja\Desktop\anaconda')

cr = pyreadr.read_r(r".\crypto.rds")[None]
cr = cr[cr['Currency'] == 'bitcoin']
cr.drop(['Currency', 'Open', 'High', 'Volume', 'Low', 'Market.Cap'], axis=1, inplace=True)
pd.to_datetime(cr.Date)

cr.Date = pd.to_datetime(cr.Date, format='%b %d, %Y')
print('zamienic serie na cos co mozna zmienic na date')


cr = cr.assign(Rate = (cr.Close - (cr.Close-1))/(cr.Close-1))

cr.sort_values(by='Rate')

print(cr)
type(cr.Date)

zamienic serie na cos co mozna zmienic na date
           Date    Close      Rate
6478 2018-02-11  8129.97  0.000123
6479 2018-02-10  8621.90  0.000116
6480 2018-02-09  8736.98  0.000114
6481 2018-02-08  8265.59  0.000121
6482 2018-02-07  7621.30  0.000131
...         ...      ...       ...
8224 2013-05-02   105.21  0.009596
8225 2013-05-01   116.99  0.008621
8226 2013-04-30   139.00  0.007246
8227 2013-04-29   144.54  0.006967
8228 2013-04-28   134.21  0.007507

[1751 rows x 3 columns]

pandas.core.series.Series

In [ ]:
ZADANIE 2

In [105]:
albums = pd.read_csv("albums.csv")
albums.sort_values(by='num_of_sales')


print(albums)
type(albums)

           id  artist_id                           album_title        genre  \
0           1       1767    Call me Cat Moneyless That Doggies         Folk
1           2      23548                             Down Mare        Metal
2           3      17822                    Embarrassed Hungry       Latino
3           4      19565  Standard Immediate Engineer Slovakia          Pop
4           5      24941              Decent Distance Georgian  Black Metal
...       ...        ...                                   ...          ...
99995   99996      44624     Mike Pies Malay Albanian Terrible     Pop-Rock
99996   99997      16345                                Global        Retro
99997   99998      32674                                  MINI        Indie
99998   99999      10134             Marketing Belligerent Toe          Pop
99999  100000      41286                  Lover Barbie Of Rock         Rock

       year_of_pub  num_of_tracks  num_of_sales  rolling_stone_critic  \
0             2006             11        905193                   4.0
1             2014              7        969122                   3.0
2             2000             11        522095                   2.5
3             2017              4        610116                   1.5
4             2010              8        151111                   4.5
...            ...            ...           ...                   ...
99995         2016              3        871655                   2.5
99996         2013             14        146202                   5.0
99997         2018              4        620452                   2.0
99998         2007              7        643276                   4.0
99999         2014              7        466962                   3.5

       mtv_critic  music_maniac_critic
0             1.5                  3.0
1             4.0                  5.0
2             1.0                  2.0
3             2.0                  4.0
4             2.5                  1.0
...           ...                  ...
99995         1.5                  1.0
99996         2.5                  1.0
99997         4.0                  5.0
99998         1.5                  4.0
99999         4.5                  2.5

[100000 rows x 10 columns]

pandas.core.frame.DataFrame

In [ ]:
ZADANIE 3.1

In [240]:
os.chdir(r'C:\Users\olaja\Desktop\anaconda')
dfs = pyreadr.read_r(r".\suicides.rds")[None]

dfs.sort_values('suicides.100k.pop', inplace=True)
dfs1 = dfs[(dfs['year']>1985) & (dfs['year']<2016)]

print(f'Najmniej samobójstw na 100k: {dfs1.country.head(5)}')
print(f'Najwięcej samobójstw na 100k: {dfs1.country.tail(5)}')

Najmniej samobójstw na 100k: 21588               Saint Lucia
4153     Bosnia and Herzegovina
4152     Bosnia and Herzegovina
4151     Bosnia and Herzegovina
4147                     Belize
Name: country, dtype: category
Categories (101, object): ['Albania', 'Antigua and Barbuda', 'Argentina', 'Armenia', ..., 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan']
Najwięcej samobójstw na 100k: 20530    Republic of Korea
20542    Republic of Korea
24332             Suriname
22280           Seychelles
1258                 Aruba
Name: country, dtype: category
Categories (101, object): ['Albania', 'Antigua and Barbuda', 'Argentina', 'Armenia', ..., 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan']

In [ ]:
ZADANIE 3.2

In [249]:
dfs2 = dfs['suicides.100k.pop'].groupby(dfs.year).agg(['sum'])
print(dfs2)

           sum
year
1985   6811.89
1986   6579.84
1987   7545.45
1988   7473.13
1989   8036.54
1990   9878.75
1991  10321.06
1992  10528.88
1993  10790.29
1994  11483.79
1995  14660.26
1996  14142.21
1997  13817.83
1998  14150.72
1999  14473.91
2000  14387.45
2001  14276.21
2002  14227.72
2003  13627.58
2004  12581.80
2005  12164.99
2006  12166.01
2007  12410.15
2008  12145.84
2009  12176.04
2010  11843.99
2011  11367.84
2012  11101.91
2013  10663.64
2014  10306.73
2015   8253.99
2016   2147.39

In [ ]:
ZADANIE 3.3

In [261]:
dfs_sa = dfs.set_index(['sex', 'age'])
dfs3 = dfs_sa['suicides.100k.pop']
print(dfs3)

sex     age
male    15-24 years    6.71
        35-54 years    5.19
female  15-24 years    4.83
male    75+ years      4.59
        25-34 years    3.28
                       ...
female  35-54 years    2.96
        75+ years      2.58
male    5-14 years     2.17
female  5-14 years     1.67
        55-74 years    1.46
Name: suicides.100k.pop, Length: 27820, dtype: float64

In [ ]:
ZADANIE 4

In [198]:
os.chdir(r'C:\Users\olaja\Desktop\anaconda')

free = pyreadr.read_r(r".\free_apps.rds")[None]
paid = pyreadr.read_r(r".\paid_apps.rds")[None]
norat = pyreadr.read_r(r".\norat_apps.rds")[None]


fpn= pd.concat([free, paid, norat], axis=0, ignore_index=True)
print(fpn)

fpn.to_csv('all_apps.csv', index=False)

                                                     App             Category  \
0         Photo Editor & Candy Camera & Grid & ScrapBook       ART_AND_DESIGN
1                                    Coloring book moana       ART_AND_DESIGN
2      U Launcher Lite – FREE Live Cool Themes, Hide ...       ART_AND_DESIGN
3                                  Sketch - Draw & Paint       ART_AND_DESIGN
4                  Pixel Draw - Number Art Coloring Book       ART_AND_DESIGN
...                                                  ...                  ...
10836                                          Cardio-FR              MEDICAL
10837                                 Naruto & Boruto FR               SOCIAL
10838                           payermonstationnement.fr  MAPS_AND_NAVIGATION
10839                                           FR Forms             BUSINESS
10840                             Parkinson Exercices FR              MEDICAL

       Rating  Price
0         4.1    NaN
1         3.9    NaN
2         4.7    NaN
3         4.5    NaN
4         4.3    NaN
...       ...    ...
10836     NaN    0.0
10837     NaN    0.0
10838     NaN    0.0
10839     NaN    0.0
10840     NaN    0.0

[10841 rows x 4 columns]

In [ ]:
print(free)
print(paid)
print(norat)

fp = free.merge(paid, on='App', how='outer').merge(norat,on='App', how='outer')

In [ ]:
ZADANIE 5

In [186]:
os.chdir(r'C:\Users\olaja\Desktop\anaconda')

movies = pyreadr.read_r(r".\movies.rds")[None]
ratings = pyreadr.read_r(r".\ratings.rds")[None]
tags = pyreadr.read_r(r".\tags.rds")[None]

mean_ratings = ratings.rating.groupby(ratings.movieId).agg(['mean'])
movies = pd.merge(movies, mean_ratings, on='movieId', how='outer')
print(movies)

last_tag = tags.timestamp.groupby(ratings.movieId).agg(['max'])
last_tag['max'] = pd.to_datetime(last_tag['max'], unit='s')
movies = pd.merge(movies, last_tag, on='movieId', how='outer')
print(movies)

join_tags = tags.tag.groupby(tags.movieId).apply(','.join).reset_index()
movies = pd.merge(movies, join_tags, on='movieId', how='outer')
print(movies)

                max
movieId
1        1537094680
2        1525285333
3        1445714996
4        1143424860
5        1143424895
...             ...
176101   1138039837
177593   1137521429
180095   1137521429
180777   1138039757
185135   1138039614

[2041 rows x 1 columns]
      movieId                                      title  \
0           1                           Toy Story (1995)
1           2                             Jumanji (1995)
2           3                    Grumpier Old Men (1995)
3           4                   Waiting to Exhale (1995)
4           5         Father of the Bride Part II (1995)
...       ...                                        ...
9737   193581  Black Butler: Book of the Atlantic (2017)
9738   193583               No Game No Life: Zero (2017)
9739   193585                               Flint (2017)
9740   193587        Bungo Stray Dogs: Dead Apple (2018)
9741   193609        Andrew Dice Clay: Dice Rules (1991)

                                           genres      mean  \
0     Adventure|Animation|Children|Comedy|Fantasy  3.920930
1                      Adventure|Children|Fantasy  3.431818
2                                  Comedy|Romance  3.259615
3                            Comedy|Drama|Romance  2.357143
4                                          Comedy  3.071429
...                                           ...       ...
9737              Action|Animation|Comedy|Fantasy  4.000000
9738                     Animation|Comedy|Fantasy  3.500000
9739                                        Drama  3.500000
9740                             Action|Animation  3.500000
9741                                       Comedy  4.000000

                     max
0    2018-09-16 10:44:40
1    2018-05-02 18:22:13
2    2015-10-24 19:29:56
3    2006-03-27 02:01:00
4    2006-03-27 02:01:35
...                  ...
9737                 NaT
9738                 NaT
9739                 NaT
9740                 NaT
9741                 NaT

[9742 rows x 5 columns]
      movieId                                      title  \
0           1                           Toy Story (1995)
1           2                             Jumanji (1995)
2           3                    Grumpier Old Men (1995)
3           4                   Waiting to Exhale (1995)
4           5         Father of the Bride Part II (1995)
...       ...                                        ...
9737   193581  Black Butler: Book of the Atlantic (2017)
9738   193583               No Game No Life: Zero (2017)
9739   193585                               Flint (2017)
9740   193587        Bungo Stray Dogs: Dead Apple (2018)
9741   193609        Andrew Dice Clay: Dice Rules (1991)

                                           genres      mean  \
0     Adventure|Animation|Children|Comedy|Fantasy  3.920930
1                      Adventure|Children|Fantasy  3.431818
2                                  Comedy|Romance  3.259615
3                            Comedy|Drama|Romance  2.357143
4                                          Comedy  3.071429
...                                           ...       ...
9737              Action|Animation|Comedy|Fantasy  4.000000
9738                     Animation|Comedy|Fantasy  3.500000
9739                                        Drama  3.500000
9740                             Action|Animation  3.500000
9741                                       Comedy  4.000000

                     max                                           tag
0    2018-09-16 10:44:40                               pixar,pixar,fun
1    2018-05-02 18:22:13  fantasy,magic board game,Robin Williams,game
2    2015-10-24 19:29:56                                     moldy,old
3    2006-03-27 02:01:00                                           NaN
4    2006-03-27 02:01:35                              pregnancy,remake
...                  ...                                           ...
9737                 NaT                                           NaN
9738                 NaT                                           NaN
9739                 NaT                                           NaN
9740                 NaT                                           NaN
9741                 NaT                                           NaN

[9742 rows x 6 columns]